<a class="add-cosplay button" href="/cosplays/new">+ add cosplay</a>

<section class="all-cosplays">

    <% for (let cosplay of cosplays) { %>
    
        <div class="ui-card">
            <a href="/cosplays/<%= cosplay.cos_id %>"><img src="<%= cosplay.picture_url %>" alt="<%= cosplay.name %>"></a>
            <section class="content">
                <h2><a href="/cosplays/<%= cosplay.cos_id %>"><%= cosplay.name %></a></h2>
                <h2><%= cosplay.source %></h2>
            </section>
            <footer class="content">
                <div>
                    <span><a href="/cosplays/<%= cosplay.cos_id %>/edit">Edit</a></span>
                </div>
                <div>
                    <span><a href="/cosplays/<%= cosplay.cos_id %>/ConfirmDelete">Delete</a></span>
                </div>
        </div>
    
    <% } %>

</section>