<div class="show-grid">

    <div>
        <img src="<%= cosplay.picture_url %> " alt="<%= cosplay.name %>">
    </div>
    <div class="text-box">
        <h2><%= cosplay.name %></h3>
        <h2><%= cosplay.source %></h3>
    </div>
</div>
<div class="button-grid">
    <div>
        <a class="button large-button" href="/cosplays/<%= cosplay.cos_id %>/edit">Edit Cosplay</a>
    </div>
    <div>
        <a class="button large-button delete-color" href="/cosplays/<%= cosplay.cos_id %>/ConfirmDelete">Delete Cosplay</a>
    </div>
</div>

<h3>Total cost: $<%= sums.total_cost %></h3>
<h3>Total estimated time: <%= sums.total_time %> hrs</h3>

<h4><a class="button" href="/cosplays/<%= cosplay.cos_id %>/tasks/new">add task</a></h4>


<div class="task-grid">
    <div>
        <div>
            <h3>To Buy</h3>
        </div>
        
        <% for (let buyTask of buyTasks) { %>
            
            <a href="/cosplays/<%= cosplay.cos_id %>/tasks/<%= buyTask.task_id %>/edit">
                <div class="task-card">
                    <div>
                        <h4><%= buyTask.name %></h4>
                    </div>
                    <div>
                        <h4>Cost: $<%= buyTask.cost %></h4>
                    </div>
                    <div>
                        <h4>Time: <%= buyTask.time %> hrs</h4>
                    </div>
                    <div>
                        <h4><%= buyTask.status_name %></h4>
                    </div>
                </div>
            </a>

            
        <% } %>

    </div>
    <div>
        <div>
            <h3>To Craft</h3>
        </div>

        <% for (let craftTask of craftTasks) { %>
            
            <a href="/cosplays/<%= cosplay.cos_id %>/tasks/<%= craftTask.task_id %>/edit">
                <div class="task-card">
                    <div>
                        <h4><%= craftTask.name %></h4>
                    </div>
                    <div>
                        <h4>Cost: $<%= craftTask.cost %></h4>
                    </div>
                    <div>
                        <h4>Time: <%= craftTask.time %> hrs</h4>
                    </div>
                    <div>
                        <h4><%= craftTask.status_name %></h4>
                    </div>
                </div>

            </a>
            
        <% } %>
            
     </div>

</div>
    