<h2>Cosplay</h2>

<img src="<%= cosplay.picture_url %> " alt="<%= cosplay.name %>">
<h3><%= cosplay.name %></h3>
<h3><%= cosplay.source %></h3>
<a href="/cosplays/<%= cosplay.cos_id %>/edit">edit cosplay</a>
<a href="/cosplays/<%= cosplay.cos_id %>/ConfirmDelete">delete cosplay</a>

<h3>Total cost</h3>
<h3><%= sums.total_cost %></h3>
<h3>Total estimated time</h3>
<h3><%= sums.total_time %> hrs</h3>

<h4><a href="/cosplays/<%= cosplay.cos_id %>/tasks/new">add task</a></h4>

<h3>To Buy</h3>
<h3>To Craft</h3>

<% for (let buyTask of buyTasks) { %>
    
    <div class="task-card">
        <h4><a href="/cosplays/<%= cosplay.cos_id %>/tasks/<%= buyTask.task_id %>/edit"><%= buyTask.name %></a></h4>
        <h4><%= buyTask.cost %></h4>
        <h4><%= buyTask.time %> hrs</h4>
        <h4><%= buyTask.status_name %></h4>
    </div>

<% } %>

<% for (let craftTask of craftTasks) { %>
    
    <div class="task-card">
        <h4><a href="/cosplays/<%= cosplay.cos_id %>/tasks/<%= craftTask.task_id %>/edit"><%= craftTask.name %></a></h4>
        <h4><%= craftTask.cost %></h4>
        <h4><%= craftTask.time %> hrs</h4>
        <h4><%= craftTask.status_name %></h4>
    </div>

<% } %>