<h2>Edit Task</h2>



<form action="/cosplays/<%= task.cos_id %>/tasks/<%= task.task_id %>" method="post">
    <input type="hidden" name="_method" value="put">
    <div class="inputs">
        <label for="">Task type</label>
        <% if(task.task_type_id === 1) { %>
            <select name="task_type_id">
                <option selected value="1">Buy</option>
                <option value="2">Craft</option>
            </select>
        <% } else { %>
            <select name="task_type_id">
                <option value="1">Buy</option>
                <option selected value="2">Craft</option>
            </select>
        <% } %>
    </div>
    <div class="inputs">
        <label for="">Name</label>
        <input type="text" name="name" value="<%= task.name %>">
    </div>
    <div class="inputs">
        <label for="">Cost ($)</label>
        <input type="text" name="cost" value="<%= task.cost %>">
    </div>
    <div class="inputs">
        <label for="">Time (hours)</label>
        <input type="text" name="time" value="<%= task.time %>">
    </div>
    <div class="inputs">
        <label for="">Status</label>
        <% if(task.status_id === 2) { %>
            <select name="status_id">
                <option value="1">Not Started</option>
                <option selected value="2">In Progress</option>
                <option value="3">Done</option>
            </select>
        <% } else if(task.status_id === 3) { %>
            <select name="status_id">
                <option value="1">Not Started</option>
                <option value="2">In Progress</option>
                <option selected value="3">Done</option>
            </select>
        <% } else { %>
            <select name="status_id">
                <option selected value="1">Not Started</option>
                <option value="2">In Progress</option>
                <option value="3">Done</option>
            </select>
        <% } %>

    </div>
    <div class="inputs">
        <label for="">Description</label>
        <textarea rows="5" cols="50" name="description"><%= task.description %></textarea>    
    </div>
    <button class="reduced-margin button" type="submit">Edit task</button>
</form>

<form action="/cosplays/<%= task.cos_id %>/tasks/<%= task.task_id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button class="reduced-margin button delete-color">Delete</button>
</form>
<a class="reduced-margin button" href="/cosplays/<%= task.cos_id %>">Cancel</a>
